@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes bitcoinupdown {

    from{
        top: 0;
    }
    to{
        top: -1rem;
    }
}

@layer base{
    a{
        display: block;
    }

    html{
        scroll-behavior: smooth;
    }
}


@layer utilities{
    .main-heading{
        text-shadow: 0 0 10px rgb(22, 22, 244);
    }

    .boder-left-transparent{
        border-left-color: transparent;
    }

    .btn-shadow{
        box-shadow: 0 0 8px white;
    }

    .btn-updown-shadow{
        box-shadow: 0 0 12px rgb(28, 28, 251);
    }

    .animate-up-down{
        animation: bitcoinupdown 1s ease infinite alternate;
        filter: drop-shadow(0 0 30px #ffe36e);
    }
}

